.overlay {
  padding: 1% 5%;
  display: flex;
  justify-content: space-between;
}

.overlay h4 {
  color: purple;
  display: flex;
  align-items: center;
}

.overlay i {
  color: black;
}

.overlay i {
  font-weight: lighter;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  padding: 0% 5%;
}

.cardActions p {
  font-size: 0.9em;
}

.details {
  padding: 0% 5%;
  color: purple;
  text-align: right;
}

.content {
  padding: 0% 5%;
}

.content p {
  font-size: 0.9em;
}

.card {
  box-shadow: 0 0 10px grey;
  border-left: 10px solid purple;
}

.card:hover {
  background: rgba(236, 236, 236, 0.2);
  cursor: pointer
}

.card .button {
  display: flex;
  align-items: center;
  outline: 0;
  border: 0;
  background: transparent;
  justify-content: space-between;
  cursor: pointer;
  color: purple;
  margin-bottom: 2%;
}











@media (max-width: 350px) {
  .overlay i {
    display: block;
    color: rgb(70, 0, 70)
  }
}